body {
    color: white;
    background-color: black;
}

.header {
    background-color: rgb(66, 62, 62);
    text-align: center;

    font-size: 5em;
    font-weight: bold;

    margin-bottom: 1em;
}

.calculator-container {
    display: flex;
    justify-content: center;
}

.calculator {
    width: 36.5rem;
    height: 60em;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1em;

    background-color: gray;

    padding: 1em;
}

#clearBtn,
    #resetBtn {
    width: 17.75rem;
}

.calculator button {
    font-size: 2em;

    width: 4em;
    height: 4em;

    border-radius: 1em;
    border-color: black;
    border-style: solid;
}

.operatorBtn {
    color: red;
}

.calculator textarea {
    width: 36.5rem;
    height: 4rem;

    font-size: 4em;

    text-align: end;

    padding: 1rem;

    border-radius: 1em;
    border-color: black;
    border-style: solid;
}
